@font-face {
  font-family: "Roboto-Bold";
  src: url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-Light";
  src: url(./assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Raleway-Medium";
  src: url(./assets/fonts/Raleway-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url(./assets/fonts/Raleway-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url(./assets/fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Jost-Black";
  src: url(./assets/fonts/Jost-Black.ttf) format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Jost-Regular";
  src: url(./assets/fonts/Jost-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Jost-SemiBold";
  src: url(./assets/fonts/Jost-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto-Light";
  src: url(./assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
html,
body {
  height: 100%;
  font-family: "Roboto-Regular";
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 20px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
}

.main-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.back-button {
  text-align: center;
  max-width: 200px;
  display: block;
  text-decoration: none;
  background-color: rgb(11, 102, 15);
  font-weight: 700;
  color: #ffffff;
  margin: 0 auto;
  padding: 15px;
}

.auth-header {
  background-color: #2d2d2d;
}

.auth-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.auth-header__button {
  text-decoration: none;
  color: #ffffff;
  margin: 0 25px;
}
.auth-header__button:hover {
  text-decoration: underline;
}

.authorization-wrapper__content {
  padding-bottom: 100px;
}

.authorization__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.authorization__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  margin: 50px auto 0;
}

.authorization__logo {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.authorization__logo-wrapper {
  width: 200px;
  max-width: 100%;
  background-color: #2d2d2d;
  padding: 10px;
}

.authorization__form {
  width: 100%;
  background-color: rgba(17, 74, 166, 0.056);
  padding: 20px 20px 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 2px #7a7a7a;
          box-shadow: 0px 0px 2px #7a7a7a;
  margin-top: 30px;
  margin-bottom: 30px;
}
.authorization__form__item {
  width: 100%;
  margin-bottom: 15px;
}
.authorization__form__item-title {
  font-size: 15px;
  margin-bottom: 4px;
}
.authorization__form__item-input {
  padding: 6px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid rgba(121, 121, 121, 0.618);
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
  width: 100%;
}
.authorization__form__item-input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(16, 66, 201, 0.8941176471);
          box-shadow: 0px 0px 0px 1px rgba(16, 66, 201, 0.8941176471);
}
.authorization__form__button {
  font-family: "Raleway-Medium";
  width: 100%;
  color: #ffffff;
  background-color: rgb(25, 133, 20);
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px;
  margin-top: 20px;
  border: none;
}
.authorization__form__button:disabled {
  background-color: rgb(166, 166, 166);
  color: #2d2d2d;
}
.authorization__form__button:disabled:hover {
  background-color: rgb(166, 166, 166);
  color: #2d2d2d;
}
.authorization__form__button:hover {
  cursor: pointer;
  background-color: rgb(15, 104, 8);
}

.authorization__link {
  color: #333333;
}
.authorization__link:hover {
  text-decoration: none;
}

.authorization__input-error {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

.header {
  width: 100%;
  background-color: #2d2d2d;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px 20px 0;
}

.header__logo {
  margin-right: 70px;
}
.header__logo-img {
  width: 200px;
  display: block;
}

.header__search {
  max-width: 640px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__search-input {
  font-family: "Roboto-Regular";
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #434343;
  color: white;
  font-size: 16px;
  line-height: 1;
  padding: 0 15px;
}
.header__search-input::-webkit-input-placeholder {
  color: #969696;
}
.header__search-input::-moz-placeholder {
  color: #969696;
}
.header__search-input:-ms-input-placeholder {
  color: #969696;
}
.header__search-input::-ms-input-placeholder {
  color: #969696;
}
.header__search-input::placeholder {
  color: #969696;
}
.header__search-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #434343;
  border: none;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
  position: relative;
}
.header__search-icon:hover {
  background-color: #535353;
}
.header__search-icon:after {
  content: "";
  display: block;
  height: 22px;
  width: 22px;
  background: url(./assets/images/Header/loupe.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 11px);
  z-index: 1;
}

.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #fff;
  margin-left: auto;
}
.header__controls__icon {
  display: block;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
  position: relative;
  margin-left: 40px;
  padding-bottom: 20px;
}
.header__controls__icon-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway-Regular";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 0;
  letter-spacing: 0;
  text-decoration: none;
  background-color: #616677;
  color: white;
  position: absolute;
  top: -7px;
  right: -9px;
  z-index: 3;
}
.header__controls__icon-user:after {
  content: "";
  display: block;
  height: 26px;
  width: 26px;
  background: url(./assets/images/Header/user.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  z-index: 1;
}
.header__controls__icon-favourite:after {
  content: "";
  display: block;
  height: 26px;
  width: 26px;
  background: url(./assets/images/Header/heart.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  z-index: 1;
}
.header__controls__icon-cart:after {
  content: "";
  display: block;
  height: 26px;
  width: 26px;
  background: url(./assets/images/Header/cart.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  z-index: 1;
}
.header__controls__total-price {
  margin-left: 25px;
}

.header__footer {
  width: 100%;
  padding: 15px 0 20px;
}

.header__footer-menu {
  display: inline;
  position: relative;
  margin-right: 25px;
}
.header__footer-menu:hover {
  padding: 0 0 20px 15px;
  margin-left: -15px;
}
.header__footer-menu:hover .header__footer-menu__content {
  display: block;
}
.header__footer-menu__title {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.header__footer-menu__title:hover {
  color: #b0b0b1;
}
.header__footer-menu__title-icon {
  margin-left: 5px;
}
.header__footer-menu__content {
  min-width: 170px;
  max-width: 200px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}
.header__footer-menu__content__main {
  background-color: #2d2d2d;
  border: 1px solid #585858;
  padding: 10px 10px;
}
.header__footer-menu__content__main__item {
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.03em;
  font-weight: 300;
  margin: 10px 0;
}
.header__footer-menu__content__main__item-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  line-height: 1.2;
  padding: 2px 5px;
  font-weight: 300;
}
.header__footer-menu__content__main__item-link:hover {
  color: #b0b0b1;
}

.page {
  width: 100%;
  background-color: #fff;
}

.page__inner {
  width: 100%;
  padding-top: 2.5rem;
}

.page__intro {
  width: 100%;
}

.page__intro__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page__intro__box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 50%;
  position: relative;
}
.page__intro__box__link:first-child {
  margin-right: 2rem;
}
.page__intro__box__link-img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.page__intro__box__link-content {
  font-family: "Jost-Black";
  text-align: center;
  min-width: 100%;
  color: rgb(49, 49, 49);
  background-color: #fff;
  font-size: 4.5em;
  font-weight: 700;
  line-height: 1.1em;
  padding: 8px 15px;
  position: absolute;
  top: calc(50% - 0.65em);
}

.page__intro__categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 4.5rem;
  padding-bottom: 8rem;
}
.page__intro__categories__item {
  text-decoration: none;
}
.page__intro__categories__item:last-child {
  margin-right: 0;
}
.page__intro__categories__item:hover .page__intro__categories__item-img__wrapper:after {
  opacity: 1;
}
.page__intro__categories__item-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page__intro__categories__item-img__wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.page__intro__categories__item-img__wrapper:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.6784313725), transparent);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.6784313725), transparent);
  opacity: 0;
  -webkit-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.page__intro__categories__item-title {
  width: 100%;
  text-align: center;
  background-color: #fff;
  color: rgb(41, 41, 41);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 15px;
}
.page__intro__categories__item-title__icon {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 10px;
}
.page__intro__categories__item-title__icon:after {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background: url(./assets/images/next.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  left: calc(50% - 7px);
}

.page__season__sale {
  width: 100%;
}
.page__season__sale-link {
  display: block;
  width: 100%;
}
.page__season__sale-image {
  width: 100%;
  max-width: 100%;
  display: block;
}

.card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card:hover .card__content-footer {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.card:hover .card__content-buttons {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.card__content-link {
  display: block;
  width: 100%;
}

.card__content-image {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__content-wrapper {
  height: 440px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.card__content-sale {
  display: inline-block;
  background-color: #000;
  font-size: 0.85em;
  color: #fff;
  padding: 5px 6px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.card__content-buttons {
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  opacity: 0;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  position: absolute;
  top: 8px;
  right: 8px;
}
.card__content-buttons-link {
  cursor: pointer;
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  border: none;
  margin-bottom: 12px;
}
.card__content-buttons-link:last-child {
  margin-bottom: 0;
}
.card__content-buttons-item {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(85, 85, 85, 0.5568627451);
  font-size: 1em;
  -webkit-transition: color ease 0.2s;
  -o-transition: color ease 0.2s;
  transition: color ease 0.2s;
}
.card__content-buttons-item:hover {
  color: #333333;
}

.product-in-cart {
  color: #21a021;
  -webkit-transition: background-color linear 3s;
  -o-transition: background-color linear 3s;
  transition: background-color linear 3s;
  background-color: #c4fcc4;
  -webkit-animation: 0.1s;
          animation: 0.1s;
  -webkit-animation-name: check;
          animation-name: check;
}
.product-in-cart:hover {
  color: #21a021;
}

@-webkit-keyframes check {
  from {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(85, 85, 85, 0.5568627451);
  }
  to {
    background-color: #c4fcc4;
    color: #21a021;
  }
}

@keyframes check {
  from {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(85, 85, 85, 0.5568627451);
  }
  to {
    background-color: #c4fcc4;
    color: #21a021;
  }
}
.card__content-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  -webkit-transform: translate(0, 60%);
      -ms-transform: translate(0, 60%);
          transform: translate(0, 60%);
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card__content-footer-item {
  cursor: pointer;
  text-decoration: none;
  color: #555555;
  font-weight: 700;
  padding: 0 10px;
  z-index: 2;
}
.card__content-footer-item:last-child {
  margin-right: 0;
}

.card__footer {
  width: 100%;
  padding: 15px 0 10px;
  font-size: 0.95em;
}
.card__footer a {
  text-decoration: none;
}
.card__footer-title {
  display: block;
  line-height: 1.3;
  color: #333;
  margin: 0 auto;
  padding: 0 7px;
}
.card__footer-title:hover {
  color: #b0b0b1;
}
.card__footer-price {
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.card__footer-price__sale {
  text-decoration: line-through;
  color: #999999;
  font-weight: 300;
  margin-left: 6px;
}

.swiper-container {
  z-index: 1 !important;
}

.swiper-button-disabled {
  opacity: 0.35;
  pointer-events: auto !important;
}

.swiper-button-next, .swiper-button-prev {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 50%;
  background-position: center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-color: #525665;
  margin-top: 0 !important;
  position: absolute;
  top: 220px !important;
  z-index: 10 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
  right: 0.6rem !important;
  background-image: url(./assets/images/next-white.svg);
}

.swiper-button-prev {
  left: 0.6rem !important;
  background-image: url(./assets/images/prev-white.svg);
}

.catalog__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__inner {
  text-align: center;
  margin-bottom: 100px;
}

.catalog__title {
  text-align: center;
  font-family: "Jost-SemiBold";
  font-weight: 400;
  font-size: 1.5em;
}

.catalog__subtitle {
  text-align: center;
  font-family: "Roboto-Light";
  font-weight: 300;
  font-size: 1em;
  padding: 10px 0 40px;
}

.category-page__wrapper {
  position: relative;
}

.category-page {
  padding: 40px 0;
}

.category-page__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.category-page__filter__button-wrapper {
  display: inline-block;
  margin-bottom: 20px;
}

.category-page__filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: rgb(58, 58, 58);
  font-size: 20px;
  border: none;
  color: #ffffff;
  padding: 8px 14px;
}
.category-page__filter__button:hover {
  background-color: rgba(81, 81, 81, 0.863);
}
.category-page__filter__button-icon {
  width: 19px;
  margin-left: 10px;
}

.category-page__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.category-page__card {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.attention {
  text-align: center;
}

.product-popup__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.699);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
}

.product-popup__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.product-popup {
  max-width: 600px;
  height: 400px;
  background-color: #fff;
  position: fixed;
  top: calc(50% - 200px);
  right: calc(50% - 300px);
  z-index: 5;
  padding: 15px 15px 15px 15px;
}

.product-popup__close {
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: #777777;
  border: 0;
  background-color: transparent;
  border-radius: 3px;
  padding: 0;
  margin: -6px -6px 0 0;
}
.product-popup__close:hover {
  color: #181818;
  cursor: pointer;
}

.product-popup__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.product-popup__image-wrapper {
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  width: 200px;
  max-width: 200px;
}

.product-popup__sale {
  display: inline-block;
  background-color: #000000;
  font-size: 0.85em;
  color: #fff;
  padding: 5px 6px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.product-popup__content {
  padding-left: 20px;
  width: auto;
}

.product-popup__title {
  font-size: 21px;
  margin: 0;
}

.product-popup__price-wrapper {
  margin: 10px 0 20px;
}

.product-popup__old-price {
  text-decoration: line-through;
  color: #999999;
  margin-left: 15px;
}

.product-popup__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.product-popup__size-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  font-weight: 400;
  color: #3d3d3d;
  background-color: #ebebeb;
  margin-right: 10px;
}

.product-popup__active-size {
  background-color: #525665 !important;
  color: #ffffff !important;
}

.product-popup__counter__wrapper {
  background-color: #525665;
  margin-bottom: 10px;
}

.product-popup__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-popup__counter__button {
  display: inline-block;
  background-color: #525665;
  border: 0;
}

.product-popup__counter__button {
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 4px 7px;
}
.product-popup__counter__button:hover {
  background-color: rgb(136, 136, 136);
}

.product-popup__counter__quantity {
  color: #ffffff;
  padding: 4px 7px;
}

.product-popup__button {
  width: 100%;
  cursor: pointer;
  background-color: #525665;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 20px;
}
.product-popup__button:hover {
  background-color: #3f424d;
}

.product-popup__add-to-cart__section a {
  text-decoration: none;
}

.product-popup__route-to-cart__button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid rgba(82, 86, 101, 0.5607843137);
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 75px;
}
.product-popup__route-to-cart__button:hover {
  background-color: rgba(41, 149, 41, 0.125);
}
.product-popup__route-to-cart__button__text {
  text-decoration: none;
  margin-right: 8px;
  color: #2d2d2d;
}
.product-popup__route-to-cart__button__icon {
  color: rgb(41, 156, 41);
}

.popup__appear-enter-from {
  opacity: 0;
}

.popup__appear-enter-to {
  opacity: 1;
}

.popup__appear-enter-active {
  -webkit-transition: all 0.05s;
  -o-transition: all 0.05s;
  transition: all 0.05s;
}

.product-page__wrapper {
  padding: 40px 0;
}

.product-page__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-page__image-wrapper {
  background-position: center;
  background-size: cover;
  position: relative;
  max-width: 100%;
  min-width: 25%;
  width: 350px;
  height: 550px;
}

.product-page__image {
  display: block;
  max-width: 100%;
  width: 100%;
}

.product-page__sale {
  display: inline-block;
  background-color: #000000;
  font-size: 17px;
  color: #fff;
  padding: 8px 12px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.product-page__content-box {
  padding-left: 40px;
}

.product-page__price-wrapper {
  margin: 10px 0 20px;
}

.product-page__price {
  margin: 10px 0 30px;
  font-size: 18px;
}

.product-page__old-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #999999;
  margin-left: 15px;
}

.active-size {
  background-color: #525665 !important;
  color: #ffffff !important;
}

.product-page__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.product-page__size-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  font-weight: 400;
  font-size: 18px;
  color: #3d3d3d;
  background-color: #ebebeb;
  margin-right: 10px;
}

.product-page__counter__wrapper {
  background-color: #525665;
  margin-bottom: 5px;
}

.product-page__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-page__counter__button {
  display: inline-block;
  background-color: #525665;
  border: 0;
}

.product-page__counter__button {
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 7px 11px;
}
.product-page__counter__button:hover {
  background-color: rgb(136, 136, 136);
}

.product-page__add-to-cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 400px;
  max-width: 100%;
}

.product-page__counter__quantity {
  color: #ffffff;
  padding: 7px 11px;
}

.product-page__button {
  display: block;
  max-width: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #525665;
  color: #ffffff;
  font-size: 18px;
  padding: 15px;
  margin-top: 20px;
}
.product-page__button:hover {
  background-color: #3f424d;
}

.product-page__add-to-cart__section {
  width: 100%;
  max-width: 100%;
}
.product-page__add-to-cart__section a {
  text-decoration: none;
}

.product-page__route-to-cart__button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid rgba(82, 86, 101, 0.5607843137);
  font-size: 18px;
  padding: 13px 15px;
  margin-top: 50px;
}
.product-page__route-to-cart__button:hover {
  background-color: rgba(41, 149, 41, 0.125);
}
.product-page__route-to-cart__button__text {
  text-decoration: none;
  margin-right: 8px;
  color: #2d2d2d;
}
.product-page__route-to-cart__button__icon {
  color: rgb(41, 156, 41);
}

.product-page__info {
  font-size: 18px;
  margin: 25px 0;
}

.product-page__catalog__inner {
  text-align: center;
  margin: 80px 0 100px;
}

.product-page__catalog__title {
  text-align: center;
  font-family: "Jost-SemiBold";
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 30px;
}

.filiation {
  width: 100%;
  color: #333333;
  margin: 80px 0 30px;
}

.filiation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filiation__image-wrapper {
  width: 50%;
  max-height: 400px;
  overflow: hidden;
}

.filiation__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.filiation__content {
  width: 50%;
  padding-left: 30px;
}

.filiation__title {
  font-size: 24px;
  font-weight: 900;
}

.filiation__text-title {
  font-weight: 700;
}

.filiation__stations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}
.filiation__stations-item {
  cursor: pointer;
  color: #999999;
  font-weight: 700;
  margin-right: 30px;
  position: relative;
}
.filiation__stations-item:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333333;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.filiation__stations-item:hover:after {
  opacity: 1;
}
.filiation__stations-item:hover .filiation__stations-item_name {
  color: #333333;
}

.filiation__contacts {
  margin: 30px 0;
}
.filiation__contacts-item {
  margin: 10px 0;
}
.filiation__contacts-item:last-child {
  margin: 0;
}

.filiation__map-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: inherit;
}
.filiation__map-link__img {
  width: 13px;
  height: 13px;
  margin-left: 10px;
}
.filiation__map-link:hover {
  text-decoration: underline;
}

.active-filiation {
  color: #333333;
}
.active-filiation:after {
  opacity: 1;
}

.footer {
  width: 100%;
  background-color: #2d2d2d;
  padding: 30px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  color: #ffffff;
  font-size: 16px;
}

.footer__contacts__phone-number__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts__phone-number {
  font-size: 18px;
  border-right: 1px solid #ffffff;
  padding: 4px 15px 4px 0;
  margin-right: 15px;
}
.footer__contacts__phone-number:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.footer__contacts__adress {
  margin-top: 10px;
}

.footer__logo-img {
  display: block;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__box {
  text-align: right;
}

.footer__socials {
  margin-bottom: 40px;
}
.footer__socials-link {
  margin-right: 25px;
}

.footer__payment-link {
  margin-right: 25px;
}

.select {
  width: 500px;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin: 0 auto 30px;
}

.select__title {
  font-size: 18px;
  background-color: rgb(238, 238, 238);
  border: 2px solid #2d2d2d;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
  padding: 5px;
}
.select__title-icon {
  font-size: 20px;
  margin-left: 5px;
}

.select__title:hover {
  background-color: #d6d6d6;
}

.select__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}
.select__options-item {
  background-color: #2d2d2d;
  font-size: 18px;
  color: #fff;
  -webkit-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  padding: 8px;
  border: 2px solid #2d2d2d;
  border-top: none;
}
.select__options-item:hover {
  background-color: rgb(70, 70, 70);
}

.cart {
  width: 100%;
  padding: 50px 0;
}

.cart__inner {
  padding: 30px 0;
}

.cart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__title {
  font-size: 26px;
  font-weight: 900;
}

.cart__total-price {
  font-size: 22px;
}

.cart-item {
  max-width: 900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(197, 197, 197, 0.575);
  margin-bottom: 30px;
}

.cart-item__image__wrapper {
  background-position: center;
  background-size: cover;
  height: 300px;
  min-width: 200px;
  position: relative;
  margin: 8px 0 8px 8px;
}

.cart-item__image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-item__sale {
  display: inline-block;
  background-color: #000;
  font-size: 14px;
  color: #fff;
  padding: 4px 5px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.cart-item__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 12px 20px 30px;
}

.cart-item__content__elements {
  text-align: right;
}

.cart-item__title-link {
  text-decoration: none;
}

.cart-item__title {
  font-family: "Raleway-Medium";
  font-size: 22px;
  color: #2d2d2d;
  margin-bottom: 8px;
}

.cart-item__price {
  color: #505050;
  font-weight: 300;
  font-size: 18px;
}

.cart-item__size {
  font-weight: 500;
  margin-bottom: 20px;
}
.cart-item__size span {
  font-weight: 600;
}

.cart-item__counter__wrapper {
  background-color: #525665;
  margin-top: 12px;
}

.cart-item__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart-item__counter__button {
  display: inline-block;
  background-color: #525665;
  border: 0;
}

.cart-item__counter__button {
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 4px 7px;
}
.cart-item__counter__button:hover {
  background-color: rgb(136, 136, 136);
}

.cart-item__counter__quantity {
  color: #ffffff;
  padding: 4px 7px;
}

.cart-item__content__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item__close-button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.cart-item__close-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 15px 10px;
  line-height: 0;
  border: 0;
}

.cart-item__close-button:hover {
  background-color: #efefef;
}

.filter-panel {
  display: block;
  width: 500px;
  background-color: rgb(226, 226, 226);
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 20px 20px 30px 60px;
}

.filter-panel__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.filter-panel__header__close-button {
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  color: #777777;
  background-color: transparent;
  border: none;
  -webkit-transition: all linear 0.05s;
  -o-transition: all linear 0.05s;
  transition: all linear 0.05s;
  padding: 5px 10px;
}
.filter-panel__header__close-button:hover {
  color: #181818;
}

.filter-panel__item__title-icon {
  margin-left: 5px;
}

.animation-panel__appear-enter-from {
  opacity: 0;
  width: 0;
}

.animation-panel__appear-enter-to {
  opacity: 1;
  width: 500px;
}

.animation-panel__appear-enter-active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  .page__intro__box__link:first-child {
    margin-right: 1.4rem;
  }
  .page__intro__box__link-content {
    font-size: 3.8em;
  }
  .page__intro__categories {
    margin-top: 4.5rem;
    padding-bottom: 6rem;
    grid-gap: 1.4rem;
  }
  .page__intro__categories__item-title {
    font-size: 0.95em;
    letter-spacing: auto;
    padding: 15px;
  }
  .card__content-footer {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 5px 0;
    opacity: 1;
  }
  .card__content-footer-item {
    padding: 5px 10px;
  }
  .card__content-buttons {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  .catalog__inner {
    margin-bottom: 80px;
  }
  .card__footer {
    padding: 14px 0 20px;
  }
  .filiation__image-wrapper {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */