@font-face {
  font-family: 'Roboto-Bold';
  src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url(./assets/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url(./assets/fonts/Raleway-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url(./assets/fonts/Raleway-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url(./assets/fonts/Raleway-Regular.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Jost-Black';
  src: url(./assets/fonts/Jost-Black.ttf) format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Jost-Regular';
  src: url(./assets/fonts/Jost-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Jost-SemiBold';
  src: url(./assets/fonts/Jost-SemiBold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url(./assets/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}
