.card {
  display: flex;
  flex-direction: column;
  &:hover &__content-footer {
    transform: translate(0, 0);
    opacity: 1;
  }
  &:hover &__content-buttons {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.card__content-link {
  display: block;
  width: 100%;
}
.card__content-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.card__content-item {
  display: block;
  width: 100%;
  object-fit: cover;
}
.card__content-sale{
    display: inline-block;
    background-color: #000;
    font-size: 0.85em;
    color: #fff;
    padding: 5px 6px;
    position: absolute;
    top: 3px;
    left: 3px;
}
.card__content-buttons{
    transform: translate(50%, 0);
    opacity: 0;
    transition: all ease .4s;
    position: absolute;
    top: 8px;
    right: 8px;
    &-link{
      cursor: pointer;
      display: block;
      text-decoration: none;
      background-color: transparent;
      padding: 0;
      border: none;
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &-item{
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.9);
        color: #5555558e;
        font-size: 1em;
        transition: color ease .2s;
        &:hover {
            color: #333333;
        }
    }
}
.card__content-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  transition: all ease 0.4s;
  transform: translate(0, 60%);
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  &-item {
    text-decoration: none;
    color: #555555;
    font-weight: 700;
    padding: 0 10px;
    z-index: 2;
    &:last-child {
      margin-right: 0;
    }
  }
}
.card__footer {
  width: 100%;
  height: $card__footer__min-height;
  padding: 20px 0;
  font-size: 0.95em;
  &-title {
    display: block;
    max-width: 90%;
    line-height: 1.3;
    text-decoration: none;
    color: #333;
    margin: 0 auto;
    &:hover {
      color: #b0b0b1;
    }
  }
  &-price {
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 0.04em;
    &__sale{
      text-decoration: line-through;
      color: #999999;
      font-weight: 300;
      margin-left: 6px;
    }
  }
}
