.cart {
  width: 100%;
  padding: 50px 0;
}
.cart__inner {
  padding: 30px 0;
}
.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__title {
  font-size: 26px;
  font-weight: 900;
}
.cart__total-price {
  font-size: 22px;
}

.cart__clear-button {
  display: block;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  padding: 15px 40px;
  border: none;
  background-color: #2d2d2d;
  margin: 20px 0 0;

  &:hover {
    background-color: #505050;
  }
}
