.back-button {
  text-align: center;
  max-width: 200px;
  display: block;
  text-decoration: none;
  background-color: rgb(11, 102, 15);
  font-weight: 700;
  color: #ffffff;
  margin: 0 auto;
  padding: 15px;
}

.authorization__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.authorization__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;

  margin: 50px auto 0;
}
.authorization__logo {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  &-wrapper {
    width: 200px;
    max-width: 100%;
    background-color: $dark__grey;
    padding: 10px;
  }
}
.authorization__form {
  width: 100%;
  background-color: rgba(17, 74, 166, 0.056);
  padding: 20px 20px 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 2px #7a7a7a;
  margin-top: 50px;
  &__item {
    width: 100%;
    margin-bottom: 15px;
    &-title {
      font-size: 15px;
      margin-bottom: 4px;
    }
    &-input {
      padding: 6px 10px;
      background-color: rgb(255, 255, 255);
      border-radius: 6px;
      border: 1px solid rgba(121, 121, 121, 0.618);
      transition: all ease 0.1s;
      width: 100%;
      &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 1px #1042c9e4;
      }
    }
  }
  &__button {
    font-family: 'Raleway-Medium';
    width: 100%;
    color: #ffffff;
    background-color: rgb(25, 133, 20);
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    &:disabled {
      background-color: rgb(166, 166, 166);
      color: $dark__grey;
    }
    &:disabled:hover {
      background-color: rgb(166, 166, 166);
      color: $dark__grey;
    }
    &:hover {
      cursor: pointer;
      background-color: rgb(15, 104, 8);
    }
  }
}
//Validation Error
.authorization__input-error {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
