.cart-item {
  max-width: 900px;
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(197, 197, 197, 0.575);
  margin-bottom: 30px;
}
.cart-item__image__wrapper {
  width: 180px;
}
.cart-item__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.cart-item__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 20px 30px;
}
.cart-item__content__elements {
  text-align: right;
}
.cart-item__title-link {
  text-decoration: none;
}
.cart-item__title {
  font-family: 'Raleway-Medium';
  font-size: 22px;
  color: $dark__grey;
  margin-bottom: 8px;
}
.cart-item__price {
  color: #505050;
  font-weight: 300;
}
.cart-item__size {
  font-weight: 500;
  margin-bottom: 20px;
  & span{
    font-weight: 600;
  }
}
.cart-item__counter__wrapper {
  background-color: #525665;
  margin-top: 8px;
}
.cart-item__counter {
  display: flex;
  &__button {
    display: inline-block;
    background-color: #525665;
    border: 0;
  }
}

.cart-item__counter__button {
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 4px 7px;
  &:hover {
    background-color: rgb(136, 136, 136);
  }
}
.cart-item__counter__quantity {
  color: #ffffff;
  padding: 4px 7px;
}

.cart-item__content__elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item__close-button__wrapper {
  display: flex;
  justify-content: end;
}
.cart-item__close-button {
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  transition: all linear 0.1s;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 15px 10px;
  line-height: 0;
  border: 0;
}
.cart-item__close-button:hover {
  background-color: #efefef;
}
