.category-page{
    padding: 40px 0;
}
.category-page__title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.category-page__item{
    width: 300px;
}
.category-page__inner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.category-page__item{
    width: 18%;
    margin: 8px 8px 10px 8px;
}
.category-page__card{
    text-align: center;
    width: 100%;
    max-width: 100%;
}
