.product-popup__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.699);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
}
.product-popup__header {
  width: 100%;
  display: flex;
  justify-content: end;
}
.product-popup {
  background-color: #fff;
  position: fixed;
  top: calc(50% - 250px);
  right: calc(50% - 250px);
  z-index: 5;
  padding: 15px 15px 15px 15px;
}
.product-popup__close {
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: #777777;
  border: 0;
  background-color: transparent;
  border-radius: 3px;
  padding: 0;
  margin: -6px -6px 0 0;
  &:hover {
    color: #181818;
    cursor: pointer;
  }
}

.product-popup__main {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.product-popup__image-wrapper {
  position: relative;
  width: 200px;
}
.product-popup__image {
  display: block;
  width: 200px;
  max-width: 100%;
}
.product-popup__sale {
  display: inline-block;
  background-color: #000000;
  font-size: 0.85em;
  color: #fff;
  padding: 5px 6px;
  position: absolute;
  top: 3px;
  left: 3px;
}
.product-popup__content {
  padding-left: 20px;
  width: auto;
}
.product-popup__title {
  font-size: 21px;
  margin: 0;
}
.product-popup__price-wrapper {
  margin: 10px 0 20px;
}
.product-popup__old-price {
  text-decoration: line-through;
  color: #999999;
  margin-left: 15px;
}
.product-popup__size {
  display: flex;
  margin-bottom: 20px;
  &-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-weight: 400;
    color: #3d3d3d;
    background-color: #ebebeb;
    margin-right: 10px;
  }
}
.active-size {
  background-color: #525665 !important;
  color: #ffffff !important;
}

.add-to-cart__section {
  margin-top: 20px;
}
.product-popup__counter__wrapper {
  background-color: #525665;
  margin-bottom: 10px;
}
.product-popup__counter {
  display: flex;
  &__button {
    display: inline-block;
    background-color: #525665;
    border: 0;
  }
}

.product-popup__counter__button {
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 4px 7px;
  &:hover {
    background-color: rgb(136, 136, 136);
  }
}
.product-popup__counter__quantity {
  color: #ffffff;
  padding: 4px 7px;
}
.product-popup__button {
  width: 100%;
  cursor: pointer;
  background-color: #525665;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 20px;
}
.product-popup__add-to-cart__section{
  & a{
    text-decoration: none;
  }
}
.product-popup__route-to-cart__button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #5256658f;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 40px;
  &:hover {
    background-color: rgba(41, 149, 41, 0.125);
  }
  &__text {
    text-decoration: none;
    margin-right: 8px;
    color: $dark__grey;
  }
  &__icon {
    color: rgb(41, 156, 41);
  }
}


// Animation

.popup__appear-enter-from {
  opacity: 0;
}
.popup__appear-enter-to {
  opacity: 1;
}
.popup__appear-enter-active {
  transition: all .05s;
}