@import "fonts";

html,
body {
  height: 100%;
  font-family: "Roboto-Regular";
  background-color: #ffff;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 20px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
}

// Прижать футер к низу

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-wrapper__content {
  flex: 1 1 auto;
}

@import "variables";
@import "authorization";
@import "header";
@import "main";
@import "card";
@import "swiper";
@import "catalog";
@import "category-page";
@import "product-popup";
@import "product-page";
@import "filiation";
@import "footer";
@import "select";
@import "cart";
@import "cart-item";
@import "filterpanel";

@import "media";
